[submodule "hw/deps/migen"]
	path = hw/deps/migen
	url = https://github.com/m-labs/migen.git
[submodule "hw/deps/litex"]
	path = hw/deps/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "hw/deps/litescope"]
	path = hw/deps/litescope
	url = https://github.com/enjoy-digital/litescope.git
[submodule "hw/deps/pyserial"]
	path = hw/deps/pyserial
	url = https://github.com/pyserial/pyserial.git
[submodule "hw/deps/liteeth"]
	path = hw/deps/liteeth
	url = https://github.com/enjoy-digital/liteeth.git
[submodule "hw/deps/liteusb"]
	path = hw/deps/liteusb
	url = https://github.com/enjoy-digital/liteusb.git
[submodule "hw/deps/litedram"]
	path = hw/deps/litedram
	url = https://github.com/enjoy-digital/litedram.git
[submodule "hw/deps/litepcie"]
	path = hw/deps/litepcie
	url = https://github.com/enjoy-digital/litepcie.git
[submodule "hw/deps/litesdcard"]
	path = hw/deps/litesdcard
	url = https://github.com/enjoy-digital/litesdcard.git
[submodule "hw/deps/liteiclink"]
	path = hw/deps/liteiclink
	url = https://github.com/enjoy-digital/liteiclink.git
[submodule "hw/deps/litevideo"]
	path = hw/deps/litevideo
	url = https://github.com/enjoy-digital/litevideo.git
[submodule "hw/deps/lxsocsupport"]
	path = hw/deps/lxsocsupport
	url = https://github.com/xobs/lxsocsupport.git
[submodule "hw/deps/valentyusb"]
	path = hw/deps/valentyusb
	url = https://github.com/xobs/valentyusb.git
